{#
*
* @package dcbase
* @copyright (c) 2020 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends 'templates/geoip_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set page_subtitle = 'Geo IP referencing' %}

{% set git_info = git_info(_self) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## {{ content_owner }}

			GeoIP project serves the [geo ip database]({{ make_url('/files/dbip-country-lite.mmdb.gz') }}) for Direct Connect.
			
			The GeoIP Project is an affiliate project of the [{{ default_owner }}]({{ make_url('https://dcbase.org') }}). 
			{% endmarkdown %}

			</div>
		</div>

{% endblock %}
